{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Top container under base.html header to push down the body-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <!-- bag heading -->
    <div class="row">
        <div class="col">
            <hr>
            <h2  class="logo-font mb-4">Shopping bag</h2>
            <hr>
        </div>
    </div>
    <!-- end heading -->

    <!-- bag contents -->
    <div class="row">
        <div class="col">
            {% if bag_items %}
                <div class="table-responsive rounded"></div>
            {% else %}
                <p class="lead mb-4">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-lg btn-lg">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    Keep Shopping
                </a>
            {% endif %}
        </div>
    </div>
    <!-- end bag contents -->
</div>


{% endblock %}