<!-- back to shopping button -->
<a href="{% url 'products' %}" class="btn rounded-lg btn-lg border border-black">
    <span class="icon">
        <i class="fas fa-chevron-left"></i>
    </span>
    <span>Keep Shopping</span>
</a>
<!-- end button -->

<!-- checkout button -->
<a href="{% url 'checkout' %}" class="btn btn-black border border-black rounded-lg btn-lg">
    <span>Secure Checkout</span>
    <span class="icon">
        <i class="fas fa-lock"></i>
    </span>
</a>
<!-- end checkout button -->