{% extends 'base.html' %}
{% load static %}

{% block page_header %}
<!-- Top container under base.html header to push down the body-->
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col12 col-md-7 offset-5 my-auto text-center">
                <h1 class="display-4 logo-font">
                    <p><strong>Deals !!!</strong></p>
                    <p>Your pockets will</p>
                    <p><strong>Thank you!</strong></p>
                </h1>
                <div>
                    <h4>
                        <a href="{% url 'products' %}" class="shop-now-button btn btn-lg border-black rounded-lg">Shop now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}