
<div class="col-12 col-md-6 col-lg-4 offset-lg-2">
    <p class="text-muted">Reviews</p>
    <p class="mb-4">{{ reviews.user }}</p>
</div>

<div class="form-group col-12 col-md-6 col-lg-4">
    <!-- <input type="hidden" id="username" value="{{ u }}"> -->
    <label for="review-body1" class="text-muted">Rate this product</label>
    <!-- stars form -->
    <form class="d-inline" action="" method="POST">
        {% csrf_token %}
        <a class="icon star-btn" value="1"><i id="first" class="far fa-star"></i></a>
        <a class="icon star-btn" value="2"><i id="second" class="far fa-star"></i></a>
        <a class="icon star-btn" value="3"><i id="third" class="far fa-star"></i></a>
        <a class="icon star-btn" value="4"><i id="fourth" class="far fa-star"></i></a>
        <a class="icon star-btn" value="5"><i id="fifth" class="far fa-star"></i></a>
    </form>
    <!-- end stars form -->
    <!-- text review form -->
    <form action="" method="POST">
        {% csrf_token %}
        <textarea class="form-control" id="review-body" rows="3" placeholder="Your review"></textarea>
        <input type="submit" class="btn btn-sm rounded-lg border border-black mt-4" value="Submit review">
    </form>
    
    <!-- end text form -->
</div>